
@page {
  margin-top: 1cm;
  margin-left: 5cm;
  margin-right: 5cm;
 }

body * { visibility: hidden; }

/*workaround: as class*/
.qr-container * { visibility: visible; }
.qr-container > div > div > img {
  width: 3cm;
  height: 3cm;
  display: block;
  margin: auto;
}
.qr-container {
  font-size: 15px;
  font-family: sans-serif;
}

a:link,
a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
