<div id="login-modal" class="modal">
    <div class="modal-content">
        <h4 class="grey-text text-darken-2">Hi!</h4>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="login-email" type="email" class="validate">
                <label for="login-email">Email</label>
            </div>
        </div>
        <div class="row">
            <a id="btn-login" class="col s4 offset-s4 waves-effect waves-light btn orange"><i class="material-icons right">send</i>login</a>

        </div>
        <div class="row">
            <p>We need you to log in to manage your codes.</p>
            <p> This is a passwordless system, all you need to do is enter your email address and wait for the authorization email. </p>
        </div>
    </div>

</div>
