<div id="main-menu-container" class="col s12 m10 offset-m1 l8 offset-l2 ">
    <div class="card-panel white">
        <div class="row">
            <div id="edit-code-icon" class="col s6">
                <center>
                    <img class="responsive-img" src="img/settings.png">
                </center>
                <center class="orange-text text-darken-2">
                    edit code
                </center>
            </div>
            <div id="new-code-icon" class="col s6">
                <center>
                    <img class="responsive-img" src="img/qr-code.png">
                </center>
                <center class="orange-text text-darken-2">
                    new code
                </center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/mainMenu.js"></script>
