<link href="css/newCodePrinterFriendly.css" media="print" rel="stylesheet">

<div id="new-code-container" class="col s12 m10 offset-m1 l6 offset-l3 ">
    <div class="card-panel white">
        <div class="row">
            <div class="col s6 m4 l4 qr-container">
                <div class="row">

                    <div id="qr-code-preview"></div>
                </div>
                <div class="row">
                    <center>
                        <a id="qr-code-label" target='_blank'></a>
                    </center>
                </div>
            </div>
            <div class="col s6 m8 l8">
                <div class="row">
                    <div class="input-field col s12 m10 l6">
                        <input maxlength="10" placeholder="ASDF" id="link-text" type="text" class="validate" required>
                        <label for="link-text">Link text</label>
                    </div>
                    <div class="input-field col s12 m10 l6">
                        <input placeholder="http://web.whatsapp.com" id="qr-link" type="url" class="validate" required>
                        <label for="qr-link">Link</label>
                    </div>

                </div>

                <div class="row">
                    <a id="btn-save" class="waves-effect waves-light btn  green"><i class="material-icons right">save</i>SAVE</a>
                </div>
                <div class="row">
                    <a id="btn-download-png" class="waves-effect waves-light btn  orange darken-2"><i class="material-icons right">file_download</i>PNG</a>

                    <a id="btn-print" class="waves-effect waves-light btn orange darken-2"><i class="material-icons right">print</i>Print</a>

                </div>


            </div>

        </div>
        <script type="text/javascript" src="js/jquery-qrcode-0.14.0.min.js"></script>
        <script type="text/javascript" src="js/newCode.js"></script>
