<div id="waitOnAuth-modal" class="modal">
    <div class="modal-content">
        <h4 class="grey-text text-darken-2">Confirm your login request</h4>


        <div class="row">

            <p> Please confirm your request by checking your emails.</p>
            <p> This site will refresh on success.</p>
        </div>
    </div>

</div>
